.title_section {
    position: relative;
    height: 110px;
}
.title {
    position: relative;
    z-index: 998;

    left: 45px;
    top: 18px;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #01457a;
}
.title_svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: max-content;
}
@media (max-width: 1020px) {
    .title_svg {
        opacity: 0;
    }
}
@media (max-width: 580px) {
    .title {
        font-size: 30px;
        line-height: 39px;
    }
}
